<body>
  <div class="container">
	   <div class="row">
	  	  <div class="col-md-3"></div>
          <h1>Welcome to<span class="glyphicon glyphicon-book"></span>Bookers  !!</h1>
       </div>
  </div>

	<footer>
	   <div class="container">
		  <div class="row">
		     <div class="col-md-1"></div>
		     <div class="col-md-8"></div>
             <p>CopyRight Infratop.inc</p></div>
          </div>
       </div>
	</footer>
</body>
