<body>
	<div class="container">
	   <div class="row">
	  	  <div class="col-md-3"></div>
	  	  <div class="col-md-6">
				<h1>welcome to<br><span class="glyphicon glyphicon-book"></span>Bookers  !!</h1>

				<p>
					In<span class="glyphicon glyphicon-book"></span><strong>Bookers</strong>,<br>you can share and exchange your opinions , inpressions , and emotions<br>about varioius books!
				</p>
				<div class="btn-wrapper">
					<%= link_to 'Log in',new_user_session_path, class: "btn btn-info btn-block" %>
					<%= link_to 'Sign up',new_user_registration_path, class: "btn btn-success btn-block" %>
				</div>
		   </div>
       </div>
   </div>

	<footer>
	   <div class="container">
		  <div class="row">
		     <div class="col-md-1"></div>
		     <div class="col-md-8"></div>
             <p>CopyRight Infratop.inc</p></div>
          </div>
       </div>
	</footer>
</body>

